- show_comments ||= false
%h2
  = link_to post.title, post_path(post)
%p.lead
  by #{link_to post.author.full_name, user_path(post.author)}
%p
  %span.glyphicon.glyphicon-time
  = post.posted_at
%hr/
%p
  = post.body
- if show_comments
  = render 'comments/comment_form', comment: Comment.new
  - post.comments.each do |comment|
    = render 'comments/comment', comment: comment
- else
  = link_to ('Read More <span class="glyphicon glyphicon-chevron-right"></span>').html_safe, post_path(post), :class => "btn btn-primary"
