.container
  .row
    .col-md-8
      %h1.page-header
        Current Posts
        %small Code Project
        .pull-right
          - if user_signed_in?
            = link_to '+', '#', data: {target: '#modal-add-post-form', toggle: 'modal'}
          - else
            #{link_to('Sign in', '#', data: {target: '#modal-login-form', toggle: 'modal'})} to post
      %hr
      - if @posts.empty?
        %h2 No posts yet.
      - @posts.each do |post|
        = render 'posts/post', post: post
        - unless post == @posts.last
          %hr
      %div
        = paginate @posts
    = render 'shared/right_sidebar'
